
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Lora", serif;
    width: 100%;
    height: 100%;
    background-color: #0e1c2c;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0e1c2c;
    width: 100%;
    height: 5rem;
    
  }
  
  .titulo {
    font-size: 2.4em;
    color: white;
    padding-left: 2rem;
    text-decoration: none;
    font-weight: bold;
  }
  
  .inBarMenu{
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
    padding-right: 1rem;
    height: 100%;
  }
  
  .inBarMenu a:hover {
    background-color: #fafcff;
    color: #0e1c2c;
  }
  
  .inBarMenu li {
    display: flex;
    position: relative;
    align-items: center;
    height: 100%;
    width: auto;
  }
  
  .inBarLi {
    display: flex;
    align-items: center;
    font-size: 1em;
    height: 100%;
    width: 100%;
    color: white;
    text-decoration: none;
    padding: 0 0.8rem;
  }
  
  .inBarSubm {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    list-style: none;
    width: 100%;
    top: 100%;
    right: 0;
    padding: 0 0;
    background-color: #0e1c2c;
  }
  
  .inSubmLi{
    align-items: center;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    color: white;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
  }
  
  .inBarMenu li:hover .inBarSubm {
    display: block;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: white;
  }

  .titlecont{
    align-items: center;
    align-content: center;
    justify-content: left;
    justify-items: left;
    width: 100%;
    height: 30vh;
  }

  .titletitle {
    padding-left: 4rem;
    text-align: left;
    font-size: 2rem;
  }

  .titletext {
        padding-left: 3em;
        padding-right: 3em;
        font-size: 1.4em;
  }
  
  .tablecont{
    display: flex;
    align-items: center;
    align-content: center;
    width: 100;
  }

  .tabla {
    border-collapse: collapse;
  }

  .tablatitle {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .tablatxt {
    font-size: 1.2rem;
  }

  .tabla th, .tabla td {
    padding: 12px;
    border: 2px solid #000000;
    text-align: left;
  }

  .separador{
    width: 100%;
    height: 10vh;
  }



  footer {
    background-color: #0e1c2c;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 10rem;
  }
  
  .email {
    align-items: center;
    align-content: center;
  font-size: 1.5rem;
  }